.noProducts{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.productsHeading{
    margin: 2vmax auto;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.171);
    padding: 2vmax;
    color: rgba(0,0,0,0.678);
    font:500 1.5vmax 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    /* width: 15vmax; */
}

.productsPage{
    display: flex;
    position: relative;
    min-height: 100vh;
}

.productsPage-1{
    width: 18%;
    height: 100vh;
    position: sticky;
    top: 5vmax; 
    align-self: flex-start;
    padding: 20px;
    background-color: white; 
    border-right: 1px solid rgba(0,0,0,0.171);
    
}

.productsPage-1 > h3{
    margin-bottom: 1vmax;
    text-align: center;
}


.filterBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 0.2vmax;
}

.filterBox > div:first-child{
    width: 90%;
    padding-left: 6px;
}

.MuiTypography-root{
    display: flex;
    align-items: center;
}
.categoryBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 1vmax;
}

.categoryBox li{
    list-style: none;
    color: rgba(0,0,0,0.61);
    font: 400 0.8vmax 'Poppins', sans-serif;
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.3s ease;
}

.categoryBox li:hover{
    color:tomato;
}

.filterBox fieldset{
    border: 1px solid black;
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    max-width: 100%;
    min-height: 70vh;

}

.paginationBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmax auto;
    width: 100%;

}

.pagination{
    display: flex;
    justify-content: center;
}

.page-item{
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0,0,0,0.171);
    padding:1vmax 1.5vmax;
    cursor: pointer;
    list-style: none;
    transition: all 0.3s ease;
}

.page-item:first-child{
    border-radius: 5px 0 0 5px;

}
.page-item:last-child{
    border-radius:0 5px 5px 0;
}

.page-item:hover{
    background-color: rgb(0,0,0,0.1);
}

.page-link{
    color: rgb(80,80,80);
    font:300 0.7vmax 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pageItemActive{
    background-color:tomato;
}

.pageLinkActive{
    color: white;
}


@media screen and (max-width: 768px){
    .productsPage-1 > h3{
        font-size: 1.3vmax;
        margin-bottom: 1vmax;
        text-align: center;
    }

    .productsPage-1 > div {
        font-size: 1vmax;
    }
    
    .filterBox{
        width: 20vmax;
        position: static;
        margin: auto;
    }

    #Typo{
        font-size: 1vmax;
    }

    .filterBox > div:first-child{
        width: 40%;
        padding-left: 6px;
    }

    .filterBox > div:last-child{
        width: 45%;  
    }
    .filterBox fieldset {
        border: 1px solid black;
        height: 3vmax;
        display: flex;
        align-items: center;
    }

    .page-item{
        font: 300 1.7vmax 'Poppins', sans-serif;
    }

    .categoryBox{
        padding-left: 0;
        font: 400 1vmax 'Poppins', sans-serif;
    }
    
}



